:root{
    --font-size-base:1rem;
    --font-size-small: 0.75rem;
    --nav-size: 1.4rem;
    --font-bold:500;
    --font-size-h4:  1.25rem;

    --base-font:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


    --header-blue: #262858;
    --heading-gold: #d6c37f;
    --nav-blue: #506283;

    --base-padding:1.5rem;
    --nav-padding: 0.5rem;

    --border-radius-base: 15px;
}

